model/qti/data/apipv1p0final/Entry_Level/PNP/apipv1p0_afapnpv2p0records_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_pnprecordsv1p0"
     targetNamespace="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_pnprecordsv1p0"
     xmlns:afapnp="http://www.imsglobal.org/xsd/apip/apipv1p0/imsafa_pnpv2p0"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     version="IMS AFAPNP APIP RECORDS V1.0"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified">
    <xs:import namespace="http://www.imsglobal.org/xsd/apip/apipv1p0/imsafa_pnpv2p0" schemaLocation="http://www.imsglobal.org/profile/apip/apipv1p0/apipv1p0_afapnpv2p0_v1p0.xsd" />

    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            =========================
            Author:         Colin Smythe (IMS Global)
            Date:           31st January, 2014
            Version:        1.0
            Status:         Final Release
            Description:    This is the PSM to exchange a set of APIP Access For All Personal 
                            Needs and Preferences v2.0 records.

            History:        Version 1.0: This is the original version of this APIP AfA PNP Records data model.

            License:        IPR and Distribution Notices

                            This machine readable file is derived from IMS Global specification IMS Accessible Portable Item Protocol (APIP) Version 1.0
                            found at http://www.imsglobal.org/apip and the original IMS Global schema binding or code base
                            http://www.imsglobal.org/apip.

                            Recipients of this document are requested to submit, with their comments, notification of any relevant 
                            patent claims or other intellectual property rights of which they may be aware that might be infringed by
                            any implementation of the specification set forth in this document, and to provide supporting documentation.

                            IMS takes no position regarding the validity or scope of any intellectual property or other rights that might
                            be claimed to pertain to the implementation or use of the technology described in this document or the extent 
                            to which any license under such rights might or might not be available; neither does it represent that it has 
                            made any effort to identify any such rights. Information on IMS procedures with respect to rights in IMS 
                            specifications can be found at the IMS Global Intellectual Property Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright © IMS Global Learning Consortium 1999-2013. All Rights Reserved.

                            Use of this specification to develop products or services is governed by the license with IMS found on the IMS website: http://www.imsglobal.org/license.html.

                            Permission is granted to all parties to use excerpts from this document as needed in producing requests for proposals.

                            The limited permissions granted above are perpetual and will not be revoked by IMS or its successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ===========================
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)
            (b) Papyrus - v0.9.2 (and later)

            Source XSLT File Information
            ============================
            XSL Generator:    Specificationv1p0_GenerationToolv1.xsl
            XSLT Processor:   Saxon-PE-9.5.0.2
            Release:          1.0
            Date:             31st March, 2013
            Autogen Engineer: Colin Smythe (IMS Global, UK)
            Autogen Date:     2014-01-29

            IMS Global Auto-generation Binding Tool-kit (I-BAT)
            ===================================================
            This file was auto-generated using the IMS Global Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS Global makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS Global "I-BAT" documentation available at the IMS Global web-site:
            http://www.imsglobal.org.

            Tool Copyright:  2012-2013  (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <!-- Generate Global Attributes (non-assigned) ******************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global Attributes *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the ComplexTypes ************************************************************************ -->

    <xs:complexType name="AccessForAllUserRecord.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                This the container for an APIP AfA PNPv2.0 Record. A record consists of the source identifier for the individual, the set of appointment identifiers that are assigned to the individual and the actual APIP AfA PNPv2.0 description for the individual.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personSourcedId" type="PersonSourcedId.Type" minOccurs="1" maxOccurs="1" />
            <xs:element name="appointmentId" type="xs:normalizedString" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="afapnp:accessForAllUser" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccessForAllUserRecords.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The set of APIP AfA PNPv2.0 records that are contained within the instance file.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="accessForAllUserRecord" type="AccessForAllUserRecord.Type" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived ComplexTypes **************************************************************** -->

    <xs:complexType name="PersonSourcedId.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The unique identifier for the person whose AfA PNP record is being supplied. The source system responsible for the provision of the identifier must be supplied.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute name="sourceSystem" use="required" type="xs:normalizedString" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="accessForAllUserRecords" type="AccessForAllUserRecords.Type" />

    <!-- ================================================================================================== -->

</xs:schema>
