model/qti/data/apipv1p0final/Entry_Level/Package/apipv1p0_qtioutcomesv2p2_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p2"
     targetNamespace="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p2"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:m="http://www.w3.org/1998/Math/MathML"
     xmlns:apip="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_qtiv1p0"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:sch="http://purl.oclc.org/dsdl/schematron"
     version="IMS APIP 1.0 QTI 2.2 OUTCOMES"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.imsglobal.org/xsd/w3/2001/xml.xsd" />
    <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="http://www.imsglobal.org/xsd/w3/2001/XInclude.xsd" />
    <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="http://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd" />
    <xs:import namespace="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_qtiv1p0" schemaLocation="http://www.imsglobal.org/profile/apip/apipv1p0/apipv1p0_qtiextv2p2_v1p0.xsd" />

    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            =========================
            Author:         Colin Smythe
            Date:           31st March, 2014
            Version:        Final 1.0
            Status:         Final Release
            Description:    This is the Platform Specific Model of the APIPv1.0 profile of the IMS QTI v2.2 Information Model.
                            This is the Profile for APIPv1.0 QTIv2.2 Outcomes Declarations.

            History:        This is the first version of the APIPv1.0 QTIv2.2 Outcomes Declaration Profile.

            PROFILE:        This is the "APIP-Outcomes". THIS IS A PROFILE OF THE BASE SPECIFICATION.
                            The changes to the base specification are:
                            * The schema namespace has been changed to "http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p2".
                            * The schema version has been changed to "IMS APIP 1.0 QTI 2.2 OUTCOMES".
                            * The "A" class/complexType and set of XML attributes have been deleted;
                            * The "AnyN" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapping" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentItem" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentItemRef" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentSection" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentSectionRef" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentStimulus" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentStimulusRef" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentTest" class/complexType and set of XML attributes have been deleted;
                            * The "AssociableHotspot" class/complexType and set of XML attributes have been deleted;
                            * The "AssociateInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "BaseValue" class/complexType and set of XML attributes have been deleted;
                            * The "BlockQuote" class/complexType and set of XML attributes have been deleted;
                            * The "BR" class/complexType and set of XML attributes have been deleted;
                            * The "BranchRule" class/complexType and set of XML attributes have been deleted;
                            * The "Caption" class/complexType and set of XML attributes have been deleted;
                            * The "ChoiceInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Col" class/complexType and set of XML attributes have been deleted;
                            * The "ColGroup" class/complexType and set of XML attributes have been deleted;
                            * The "Correct" class/complexType and set of XML attributes have been deleted;
                            * The "CorrectResponse" class/complexType and set of XML attributes have been deleted;
                            * The "CustomInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "CustomOperator" class/complexType and set of XML attributes have been deleted;
                            * The "DD" class/complexType and set of XML attributes have been deleted;
                            * The "Default" class/complexType and set of XML attributes have been deleted;
                            * The "DefaultValue" class/complexType and set of XML attributes have been deleted;
                            * The "Div" class/complexType and set of XML attributes have been deleted;
                            * The "DL" class/complexType and set of XML attributes have been deleted;
                            * The "DrawingInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "DT" class/complexType and set of XML attributes have been deleted;
                            * The "EndAttemptInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Equal" class/complexType and set of XML attributes have been deleted;
                            * The "EqualRounded" class/complexType and set of XML attributes have been deleted;
                            * The "ExpressionGroup" class/complexType and set of XML attributes have been deleted;
                            * The "ExtendedTextInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "FeedbackBlock" class/complexType and set of XML attributes have been deleted;
                            * The "FeedbackInline" class/complexType and set of XML attributes have been deleted;
                            * The "FieldValue" class/complexType and set of XML attributes have been deleted;
                            * The "Gap" class/complexType and set of XML attributes have been deleted;
                            * The "GapChoice" class/complexType and set of XML attributes have been deleted;
                            * The "GapImg" class/complexType and set of XML attributes have been deleted;
                            * The "GapMatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GapText" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicAssociateInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicGapMatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicOrderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HotspotChoice" class/complexType and set of XML attributes have been deleted;
                            * The "HotspotInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HotText" class/complexType and set of XML attributes have been deleted;
                            * The "HotTextInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HR" class/complexType and set of XML attributes have been deleted;
                            * The "HTMLText" class/complexType and set of XML attributes have been deleted;
                            * The "Img" class/complexType and set of XML attributes have been deleted;
                            * The "Index" class/complexType and set of XML attributes have been deleted;
                            * The "InfoControl" class/complexType and set of XML attributes have been deleted;
                            * The "InlineChoice" class/complexType and set of XML attributes have been deleted;
                            * The "InlineChoiceInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Inside" class/complexType and set of XML attributes have been deleted;
                            * The "InterpolationTable" class/complexType and set of XML attributes have been deleted;
                            * The "InterpolationTableEntry" class/complexType and set of XML attributes have been deleted;
                            * The "ItemBody" class/complexType and set of XML attributes have been deleted;
                            * The "ItemSessionControl" class/complexType and set of XML attributes have been deleted;
                            * The "Label" class/complexType and set of XML attributes have been deleted;
                            * The "LI" class/complexType and set of XML attributes have been deleted;
                            * The "Logic0toMany" class/complexType and set of XML attributes have been deleted;
                            * The "Logic1toMany" class/complexType and set of XML attributes have been deleted;
                            * The "LogicPair" class/complexType and set of XML attributes have been deleted;
                            * The "LogicSingle" class/complexType and set of XML attributes have been deleted;
                            * The "LookupOutcomeValue" class/complexType and set of XML attributes have been deleted;
                            * The "MapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "Mapping" class/complexType and set of XML attributes have been deleted;
                            * The "MapResponse" class/complexType and set of XML attributes have been deleted;
                            * The "MatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "MatchTable" class/complexType and set of XML attributes have been deleted;
                            * The "MatchTableEntry" class/complexType and set of XML attributes have been deleted;
                            * The "MathConstant" class/complexType and set of XML attributes have been deleted;
                            * The "MathOperator" class/complexType and set of XML attributes have been deleted;
                            * The "MediaInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "ModalFeedback" class/complexType and set of XML attributes have been deleted;
                            * The "Number" class/complexType and set of XML attributes have been deleted;
                            * The "NumericExpressionGroup" class/complexType and set of XML attributes have been deleted;
                            * The "NumericLogic1toMany" class/complexType and set of XML attributes have been deleted;
                            * The "Object" class/complexType and set of XML attributes have been deleted;
                            * The "ObjectFlowGroup" class/complexType and set of XML attributes have been deleted;
                            * The "Ordering" class/complexType and set of XML attributes have been deleted;
                            * The "OrderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "OUL" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeCondition" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeElse" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeIf" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeMinMax" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeRule" class/complexType and set of XML attributes have been deleted;
                            * The "Param" class/complexType and set of XML attributes have been deleted;
                            * The "PatternMatch" class/complexType and set of XML attributes have been deleted;
                            * The "PositionObjectInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "PositionObjectStage" class/complexType and set of XML attributes have been deleted;
                            * The "PrintedVariable" class/complexType and set of XML attributes have been deleted;
                            * The "Prompt" class/complexType and set of XML attributes have been deleted;
                            * The "Q" class/complexType and set of XML attributes have been deleted;
                            * The "RandomFloat" class/complexType and set of XML attributes have been deleted;
                            * The "RandomInteger" class/complexType and set of XML attributes have been deleted;
                            * The "Repeat" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseCondition" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseDeclaration" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseElse" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseIf" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseRuleGroup" class/complexType and set of XML attributes have been deleted;
                            * The "RoundTo" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlock" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlockTemplateBlock" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlockTemplateInline" class/complexType and set of XML attributes have been deleted;
                            * The "SectionPart" class/complexType and set of XML attributes have been deleted;
                            * The "Selection" class/complexType and set of XML attributes have been deleted;
                            * The "SelectPointInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "SetValue" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleAssociableChoice" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleChoice" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleMatchSet" class/complexType and set of XML attributes have been deleted;
                            * The "SliderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "StatsOperator" class/complexType and set of XML attributes have been deleted;
                            * The "StimulusBody" class/complexType and set of XML attributes have been deleted;
                            * The "StringMatch" class/complexType and set of XML attributes have been deleted;
                            * The "StyleSheet" class/complexType and set of XML attributes have been deleted;
                            * The "Substring" class/complexType and set of XML attributes have been deleted;
                            * The "Table" class/complexType and set of XML attributes have been deleted;
                            * The "TablePart" class/complexType and set of XML attributes have been deleted;
                            * The "TDH" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateBlock" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateBlockFeedbackBlock" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateCondition" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateConstraint" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateDeclaration" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateDefault" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateElse" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateIf" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateInline" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateRuleGroup" class/complexType and set of XML attributes have been deleted;
                            * The "TestFeedback" class/complexType and set of XML attributes have been deleted;
                            * The "TestPart" class/complexType and set of XML attributes have been deleted;
                            * The "TestVariables" class/complexType and set of XML attributes have been deleted;
                            * The "TextEntryInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "TimeLimits" class/complexType and set of XML attributes have been deleted;
                            * The "TR" class/complexType and set of XML attributes have been deleted;
                            * The "UploadInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Value" class/complexType and set of XML attributes have been deleted;
                            * The "Variable" class/complexType and set of XML attributes have been deleted;
                            * The "VariableMapping" class/complexType and set of XML attributes have been deleted;
                            * The "Weight" class/complexType and set of XML attributes have been deleted;

            License:        IPR and Distribution Notices

                            This machine readable file is derived from IMS Global specification IMS Question and Test Interoperability (QTI) Version 2.2
                            found at http://www.imsglobal.org/qti and the original IMS Global schema binding or code base
                            http://www.imsglobal.org/qti.

                            Recipients of this document are requested to submit, with their comments, notification of any relevant 
                            patent claims or other intellectual property rights of which they may be aware that might be infringed by
                            any implementation of the specification set forth in this document, and to provide supporting documentation.

                            IMS takes no position regarding the validity or scope of any intellectual property or other rights that might
                            be claimed to pertain to the implementation or use of the technology described in this document or the extent 
                            to which any license under such rights might or might not be available; neither does it represent that it has 
                            made any effort to identify any such rights. Information on IMS procedures with respect to rights in IMS 
                            specifications can be found at the IMS Global Intellectual Property Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright © IMS Global Learning Consortium 1999-2013. All Rights Reserved.

                            Use of this specification to develop products or services is governed by the license with IMS found on the IMS website: http://www.imsglobal.org/license.html.

                            Permission is granted to all parties to use excerpts from this document as needed in producing requests for proposals.

                            The limited permissions granted above are perpetual and will not be revoked by IMS or its successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ===========================
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)
            (b) Papyrus - v0.9.2 (and later)

            Source XSLT File Information
            ============================
            XSL Generator:    Specificationv1p0_GenerationToolv1.xsl
            XSLT Processor:   Saxon-PE-9.5.0.2
            Release:          1.0
            Date:             31st March, 2013
            Autogen Engineer: Colin Smythe (IMS Global, UK)
            Autogen Date:     2014-05-15

            IMS Global Auto-generation Binding Tool-kit (I-BAT)
            ===================================================
            This file was auto-generated using the IMS Global Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS Global makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS Global "I-BAT" documentation available at the IMS Global web-site:
            http://www.imsglobal.org.

            Tool Copyright:  2012-2013  (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation>
            Definition of Schematron Validation Rules
            =========================================
            Author:         Colin Smythe (IMS Global, UK)
            Date:           31st March, 2014
            Version:        1.0
            Status:         Final Release

            Description:    This is the set of Schematron Rules to further enforce the QTIv2.2 Information Model. The rule sets that have been defined are:

                            [RULE_SET_GENERAL_1] Ensure that certain expressions are NOT used for Response Processing.
                            [RULE_SET_GENERAL_2] Ensure that the Item, Section, Test and TestPart identifiers are unique.
                            [RULE_SET_INTERACTION-RELATED_1] Enforce the correct use the GapText attributes.
                            [RULE_SET_INTERACTION-RELATED_2] Enforce the correct use the GapImg attributes.
                            [RULE_SET_INTERACTION-RELATED_3] Enforce the correct use the AssociableHotspot attributes.
                            [RULE_SET_INTERACTION-RELATED_4] Enforce the correct use the SimpleAssociableChoice attributes.
                            [RULE_SET_INTERACTION_01] Enforce the correct use the TextEntryInteraction attributes.
                            [RULE_SET_INTERACTION_02] Enforce the correct use the ChoiceInteraction attributes.
                            [RULE_SET_INTERACTION_03] Enforce the correct use the ExtendedTextInteraction attributes.
                            [RULE_SET_INTERACTION_04] Enforce the correct use the HotspotInteraction attributes.
                            [RULE_SET_INTERACTION_05] Enforce the correct use the GraphicOrderInteraction attributes.
                            [RULE_SET_INTERACTION_06] Enforce the correct use the PositionObjectInteraction attributes.
                            [RULE_SET_INTERACTION_07] Enforce the correct use the SelectPointInteraction attributes.
                            [RULE_SET_INTERACTION_08] Enforce the correct use the OrderInteraction attributes.
                            [RULE_SET_INTERACTION_09] Enforce the correct use the HotTextInteraction attributes.
                            [RULE_SET_INTERACTION_10] Enforce the correct use the GraphicAssociateInteraction attributes.
                            [RULE_SET_INTERACTION_11] Enforce the correct use the MatchInteraction attributes.
                            [RULE_SET_INTERACTION_12] Enforce the correct use the AssociateInteraction attributes.
                            [RULE_SET_INTERACTION_13] Enforce the correct use the MediaInteraction attributes.
                            [RULE_SET_INTERACTION_14] Enforce the correct use the SliderInteraction attributes.
                            [RULE_SET_INTERACTION_15] Enforce the correct use the DrawingInteraction attributes.
                            [RULE_SET_INTERACTION_16] Enforce the correct use the UploadInteraction attributes.
                            [RULE_SET_INTERACTION_17] Enforce the correct use the EndAttemptInteraction attributes.
                            [RULE_SET_INTERACTION_18] Enforce the correct use the GapMatchInteraction attributes.
                            [RULE_SET_INTERACTION_19] Enforce the correct use the GraphicGapMatchInteraction attributes.
                            [RULE_SET_SPECIFIC_CLASS_1] Enforce the correct use the OutcomeDeclaration attributes.
                            [RULE_SET_SPECIFIC_CLASS_2] Enforce the correct use the TimeLimits attributes.

                            RULE_SET_GENERAL_1: Ensure that certain expressions are NOT used for Response Processing. The set of rules are:-
                            * RULE GENERAL 1a-Assertion 1 :- The expression numberCorrect must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 2 :- The expression numberIncorrect must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 3 :- The expression numberPresented must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 4 :- The expression numberResponded must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 5 :- The expression numberSelected must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 6 :- The expression outcomeMinimum must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 7 :- The expression outcomeMaximum must NOT be used in Response Processing.
                            * RULE GENERAL 1a-Assertion 8 :- The expression testVariables must NOT be used in Response Processing.

                            RULE_SET_GENERAL_2: Ensure that the Item, Section, Test and TestPart identifiers are unique. The set of rules are:-
                            * RULE GENERAL 2a-Assertion 1 :- The AssessmentTest and a TestPart must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 2 :- The AssessmentTest and an AssessmentSection must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 3 :- The AssessmentTest and a direct child AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 4 :- The AssessmentTest and a descendant AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2a-Assertion 5 :- The AssessmentTest and a descendant AssessmentItemRef must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 1 :- Two TestParts must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 2 :- The TestPart and an AssessmentSection must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 3 :- The TestPart and a direct child AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 4 :- The TestPart and a descendant AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2b-Assertion 5 :- The TestPart and a descendant AssessmentItemRef must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 1 :- Two AssessmentSection children of a TestPart must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 2 :- The AssessmentSection and a descendant AssessmentSection must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 3 :- The AssessmentSection and a descendant AssessmentSectionRef must not have the same unique identifier.
                            * RULE GENERAL 2c-Assertion 4 :- The AssessmentSection and a descendant AssessmentItemRef must not have the same unique identifier.

                            RULE_SET_INTERACTION-RELATED_1: Enforce the correct use the GapText attributes. The set of rules are:-
                            * RULE INTERACTION-RELATED 1a-Assertion 1 :- The MatchMax attribute value must not be less than the MatchMin value.

                            RULE_SET_INTERACTION-RELATED_2: Enforce the correct use the GapImg attributes. The set of rules are:-
                            * RULE INTERACTION-RELATED 2a-Assertion 1 :- The MatchMax attribute value must not be less than the MatchMin value.

                            RULE_SET_INTERACTION-RELATED_3: Enforce the correct use the AssociableHotspot attributes. The set of rules are:-
                            * RULE INTERACTION-RELATED 3a-Assertion 1 :- The MatchMax attribute value must not be less than the MatchMin value.

                            RULE_SET_INTERACTION-RELATED_4: Enforce the correct use the SimpleAssociableChoice attributes. The set of rules are:-
                            * RULE INTERACTION-RELATED 4a-Assertion 1 :- The MatchMax attribute value must not be less than the MatchMin value.

                            RULE_SET_INTERACTION_01: Enforce the correct use the TextEntryInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 1a-Assertion 1 :- The StringIdentifier and ResponseIdentifier attribute values must not be the same.
                            * RULE INTERACTION 1b-Assertion 1 :- The baseType must have a value of either string or float or integer.

                            RULE_SET_INTERACTION_02: Enforce the correct use the ChoiceInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 2a-Assertion 1 :- The MaxChoices attribute value must not be less than the MinChoices value.

                            RULE_SET_INTERACTION_03: Enforce the correct use the ExtendedTextInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 3a-Assertion 1 :- The StringIdentifier and ResponseIdentifier attribute values must not be the same.

                            RULE_SET_INTERACTION_04: Enforce the correct use the HotspotInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 4a-Assertion 1 :- The MaxChoices attribute value must not be less than the MinChoices value.

                            RULE_SET_INTERACTION_05: Enforce the correct use the GraphicOrderInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 5a-Assertion 1 :- The MaxChoices attribute value must not be less than the MinChoices value.

                            RULE_SET_INTERACTION_06: Enforce the correct use the PositionObjectInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 6a-Assertion 1 :- The MaxChoices attribute value must not be less than the MinChoices value.

                            RULE_SET_INTERACTION_07: Enforce the correct use the SelectPointInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 7a-Assertion 1 :- The MaxChoices attribute value must not be less than the MinChoices value.

                            RULE_SET_INTERACTION_08: Enforce the correct use the OrderInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 8a-Assertion 1 :- The MaxChoices attribute value must not be less than the MinChoices value.

                            RULE_SET_INTERACTION_09: Enforce the correct use the HotTextInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 9a-Assertion 1 :- The MaxChoices attribute value must not be less than the MinChoices value.

                            RULE_SET_INTERACTION_10: Enforce the correct use the GraphicAssociateInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 10a-Assertion 1 :- The MaxAssociations attribute value must not be less than the MinAssociations value.

                            RULE_SET_INTERACTION_11: Enforce the correct use the MatchInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 11a-Assertion 1 :- The MaxAssociations attribute value must not be less than the MinAssociations value.

                            RULE_SET_INTERACTION_12: Enforce the correct use the AssociateInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 12a-Assertion 1 :- The MaxAssociations attribute value must not be less than the MinAssociations value.

                            RULE_SET_INTERACTION_13: Enforce the correct use the MediaInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 13a-Assertion 1 :- The MaxPlays attribute value must not be less than the MinPlays value.

                            RULE_SET_INTERACTION_14: Enforce the correct use the SliderInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 14a-Assertion 1 :- The UpperBound attribute value must not be less than the LowerBound value.

                            RULE_SET_INTERACTION_15: Enforce the correct use the DrawingInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 15a-Assertion 1 :- The baseType must have a value of file.

                            RULE_SET_INTERACTION_16: Enforce the correct use the UploadInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 16a-Assertion 1 :- The baseType must have a value of file.

                            RULE_SET_INTERACTION_17: Enforce the correct use the EndAttemptInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 17a-Assertion 1 :- The baseType must have a value of boolean.

                            RULE_SET_INTERACTION_18: Enforce the correct use the GapMatchInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 18a-Assertion 1 :- The baseType must have a value of directedPair.

                            RULE_SET_INTERACTION_19: Enforce the correct use the GraphicGapMatchInteraction attributes. The set of rules are:-
                            * RULE INTERACTION 19a-Assertion 1 :- The baseType must have a value of directedPair.

                            RULE_SET_SPECIFIC_CLASS_1: Enforce the correct use the OutcomeDeclaration attributes. The set of rules are:-
                            * RULE SPECIFIC CLASS 1a-Assertion 1 :- The MasteryValue attribute value must not be less than the NormalMinimum value.
                            * RULE SPECIFIC CLASS 1a-Assertion 2 :- The MasteryValue attribute value must not be greater than the NormalMaximum value.

                            RULE_SET_SPECIFIC_CLASS_2: Enforce the correct use the TimeLimits attributes. The set of rules are:-
                            * RULE SPECIFIC CLASS 2a-Assertion 1 :- The MaxTime attribute value must not be less than the MinTime value.

            History:        Version 1.0: The first set of schematron rules for the IMS Global QTIv2.2 specification.
        </xs:documentation>

        <xs:appinfo>
            <sch:ns uri="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p2" prefix="qti" />
            <sch:title>Schematron Validation Rules for QTI Specification v2.2.</sch:title>

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_GENERAL_1">
                    <sch:title>Ensure that certain expressions are NOT used for Response Processing.</sch:title>

                        <!-- The rule for the ["//qti:assessmentItem/qti:responseProcessing"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_GENERAL_2">
                    <sch:title>Ensure that the Item, Section, Test and TestPart identifiers are unique.</sch:title>

                        <!-- The rule for the ["//qti:assessmentTest"] context has been removed in this profile -->

                        <!-- The rule for the ["//qti:assessmentTest/qti:testPart"] context has been removed in this profile -->

                        <!-- The rule for the ["//qti:assessmentTest/qti:testPart/qti:assessmentSection"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION-RELATED_1">
                    <sch:title>Enforce the correct use the GapText attributes.</sch:title>

                        <!-- The rule for the ["//qti:gapText"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION-RELATED_2">
                    <sch:title>Enforce the correct use the GapImg attributes.</sch:title>

                        <!-- The rule for the ["//qti:gapImg"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION-RELATED_3">
                    <sch:title>Enforce the correct use the AssociableHotspot attributes.</sch:title>

                        <!-- The rule for the ["//qti:associableHotspot"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION-RELATED_4">
                    <sch:title>Enforce the correct use the SimpleAssociableChoice attributes.</sch:title>

                        <!-- The rule for the ["//qti:simpleAssociableChoice"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_01">
                    <sch:title>Enforce the correct use the TextEntryInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:textEntryInteraction"] context has been removed in this profile -->

                        <!-- The rule for the ["//qti:textEntryInteraction/@responseIdentifier=//qti:responseIdentifier/@identifier"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_02">
                    <sch:title>Enforce the correct use the ChoiceInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:choiceInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_03">
                    <sch:title>Enforce the correct use the ExtendedTextInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:extendedTextInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_04">
                    <sch:title>Enforce the correct use the HotspotInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:hotspotInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_05">
                    <sch:title>Enforce the correct use the GraphicOrderInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:graphicOrderInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_06">
                    <sch:title>Enforce the correct use the PositionObjectInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:positionObjectInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_07">
                    <sch:title>Enforce the correct use the SelectPointInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:selectPointInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_08">
                    <sch:title>Enforce the correct use the OrderInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:orderInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_09">
                    <sch:title>Enforce the correct use the HotTextInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:hottextInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_10">
                    <sch:title>Enforce the correct use the GraphicAssociateInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:graphicAssociateInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_11">
                    <sch:title>Enforce the correct use the MatchInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:matchInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_12">
                    <sch:title>Enforce the correct use the AssociateInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:associateInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_13">
                    <sch:title>Enforce the correct use the MediaInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:mediaInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_14">
                    <sch:title>Enforce the correct use the SliderInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:sliderInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_15">
                    <sch:title>Enforce the correct use the DrawingInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:drawingInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_16">
                    <sch:title>Enforce the correct use the UploadInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:uploadInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_17">
                    <sch:title>Enforce the correct use the EndAttemptInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:endAttemptInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_18">
                    <sch:title>Enforce the correct use the GapMatchInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:gapMatchInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_INTERACTION_19">
                    <sch:title>Enforce the correct use the GraphicGapMatchInteraction attributes.</sch:title>

                        <!-- The rule for the ["//qti:graphicGapMatchInteraction"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_SPECIFIC_CLASS_1">
                    <sch:title>Enforce the correct use the OutcomeDeclaration attributes.</sch:title>

                    <sch:rule abstract="false" context="//qti:outcomeDeclaration">
                        <sch:assert test="not(@masteryValue &lt; @normalMinimum)">
                            [RULE SPECIFIC CLASS 1a: Assertion 1] The MasteryValue attribute value must not be less than the NormalMinimum value.<sch:value-of select="concat('The MasteryValue value is:', @masteryValue)" />
                        </sch:assert>
                        <sch:assert test="not(@masteryValue &gt; @normalMaximum)">
                            [RULE SPECIFIC CLASS 1a: Assertion 2] The MasteryValue attribute value must not be greater than the NormalMaximum value.<sch:value-of select="concat('The MasteryValue value is:', @masteryValue)" />
                        </sch:assert>
                    </sch:rule>

                </sch:pattern>
                <!-- *************************************************************************** -->

                <!-- RULESET ******************************************************************* -->
                <sch:pattern abstract="false" id="RULE_SET_SPECIFIC_CLASS_2">
                    <sch:title>Enforce the correct use the TimeLimits attributes.</sch:title>

                        <!-- The rule for the ["//qti:timeLimits"] context has been removed in this profile -->

                </sch:pattern>
                <!-- *************************************************************************** -->

        </xs:appinfo>
    </xs:annotation>

    <!-- Generate Global Attributes (non-assigned) ******************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global Attributes *********************************************************************** -->

    <xs:attributeGroup name="baseType.OutcomeDeclaration.Attr">
        <xs:attribute name="baseType" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="boolean" />
                    <xs:enumeration value="directedPair" />
                    <xs:enumeration value="duration" />
                    <xs:enumeration value="file" />
                    <xs:enumeration value="float" />
                    <xs:enumeration value="identifier" />
                    <xs:enumeration value="integer" />
                    <xs:enumeration value="pair" />
                    <xs:enumeration value="point" />
                    <xs:enumeration value="string" />
                    <xs:enumeration value="uri" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="cardinality.OutcomeDeclaration.Attr">
        <xs:attribute name="cardinality" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="multiple" />
                    <xs:enumeration value="ordered" />
                    <xs:enumeration value="record" />
                    <xs:enumeration value="single" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="externalScored.OutcomeDeclaration.Attr">
        <xs:attribute name="externalScored" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="externalMachine" />
                    <xs:enumeration value="human" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="identifier.OutcomeDeclaration.Attr">
        <xs:attribute name="identifier" use="required" type="Identifier.Type" />
    </xs:attributeGroup>

    <xs:attributeGroup name="interpretation.OutcomeDeclaration.Attr">
        <xs:attribute name="interpretation" use="optional" type="xs:string" />
    </xs:attributeGroup>

    <xs:attributeGroup name="longInterpretation.OutcomeDeclaration.Attr">
        <xs:attribute name="longInterpretation" use="optional" type="xs:anyURI" />
    </xs:attributeGroup>

    <xs:attributeGroup name="masteryValue.OutcomeDeclaration.Attr">
        <xs:attribute name="masteryValue" use="optional" type="xs:double" />
    </xs:attributeGroup>

    <xs:attributeGroup name="normalMaximum.OutcomeDeclaration.Attr">
        <xs:attribute name="normalMaximum" use="optional" type="NonNegativeDouble.Type" />
    </xs:attributeGroup>

    <xs:attributeGroup name="normalMinimum.OutcomeDeclaration.Attr">
        <xs:attribute name="normalMinimum" use="optional" type="xs:double" />
    </xs:attributeGroup>

    <xs:attributeGroup name="variableIdentifierRef.OutcomeDeclaration.Attr">
        <xs:attribute name="variableIdentifierRef" use="optional" type="UniqueIdentifierRef.Type" />
    </xs:attributeGroup>

    <xs:attributeGroup name="view.OutcomeDeclaration.Attr">
        <xs:attribute name="view" use="optional">
            <xs:simpleType>
                <xs:list itemType="View.Type" />
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

        <!-- The global list "IdentifierList.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The global list "IntegerList.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The global list "StringList.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The global list "ToleranceList.Type" has been deleted, by deduction, in this profile  ************* -->

    <xs:simpleType name="View.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="author" />
            <xs:enumeration value="candidate" />
            <xs:enumeration value="proctor" />
            <xs:enumeration value="scorer" />
            <xs:enumeration value="testConstructor" />
            <xs:enumeration value="tutor" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

        <!-- The Lax-Namespaced extension Group declaration has been deleted in this profile  ************* -->

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <xs:complexType name="EmptyPrimitiveType.Type">
        <xs:complexContent>
            <xs:restriction base="xs:anyType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

        <!-- The simpleType-based DerivedType "Date.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The simpleType-based DerivedType "DateTime.Type" has been deleted, by deduction, in this profile  ************* -->

    <xs:simpleType name="EncVariableString.Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\{[\i-[:]][\c-[:]]*\}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Identifier.Type">
        <xs:restriction base="xs:NCName" />
    </xs:simpleType>

        <!-- The simpleType-based DerivedType "Length.Type" has been deleted, by deduction, in this profile  ************* -->

        <!-- The simpleType-based DerivedType "MimeType.Type" has been deleted, by deduction, in this profile  ************* -->

    <xs:simpleType name="NonNegativeDouble.Type">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0" />
        </xs:restriction>
    </xs:simpleType>

        <!-- The simpleType-based DerivedType "UniqueIdentifier.Type" has been deleted, by deduction, in this profile  ************* -->

    <xs:simpleType name="UniqueIdentifierRef.Type">
        <xs:restriction base="xs:IDREF" />
    </xs:simpleType>

    <xs:simpleType name="VariableString.Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\i-[:]][\c-[:]]*" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the ComplexTypes ************************************************************************ -->

    <xs:complexType name="OutcomeDeclaration.Type" abstract="false" mixed="false">
        <xs:annotation>
            <xs:documentation source="documentation">
                The OutcomeDeclaration complexType is the container for the declaration of outcome variables. Outcome variables are declared by outcome declarations. Their value is set either from a default given in the declaration itself or by a 'responseRule' during 'responseProcessing'.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="identifier.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="cardinality.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="baseType.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="view.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="interpretation.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="longInterpretation.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="normalMaximum.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="normalMinimum.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="masteryValue.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="externalScored.OutcomeDeclaration.Attr" />
        <xs:attributeGroup ref="variableIdentifierRef.OutcomeDeclaration.Attr" />
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived ComplexTypes **************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="outcomeDeclaration" type="OutcomeDeclaration.Type" />

    <!-- ================================================================================================== -->

</xs:schema>
